.broadcasters-empty {
    margin-top: 7rem;
}

.broadcaster-container {
    margin-top: 0.75rem;
}

.broadcaster {
    margin: 0.2rem;
    box-shadow: 2px 6px 40px -13px rgba(0,0,0,0.75);
}

.broadcast-btn {
    display: block;
    margin-top: 0.5rem;
    margin-right: 0;
    margin-left: auto;
}